language: python
python:
    - "3.6"
    
install:
    - python setup.py install
    
script:
    - bjointsp -n src/bjointsp/parameters/networks/Abilene.graphml -t src/bjointsp/parameters/templates/fw1chain.yaml -s src/bjointsp/parameters/sources/source0.yaml
    - bjointsp -n src/bjointsp/parameters/networks/BtEurope.graphml -t src/bjointsp/parameters/templates/fw3chain.yaml -s src/bjointsp/parameters/sources/sources04.yaml
    